%h1 Listing site_configs

%table
  %tr
    %th Title
    %th Desc
    %th Logo
    %th Contact us blurb
    %th

  - @site_configs.each do |site_config|
    %tr
      %td= site_config.title
      %td= site_config.desc
      %td= site_config.logo
      %td= site_config.contact_us_blurb
      %td
        = link_to 'Show', site_config
        \|
        = link_to 'Edit', edit_site_config_path(site_config)
        \|
        = link_to 'Destroy', site_config, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Site config', new_site_config_path