= form_for @factors_user do |f|
  .actions
    = f.submit 'Save'
  %hr

  - if @factors_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@factors_user.errors.count, "error")} prohibited this factors_user from being saved:"
      %ul
        - @factors_user.errors.full_messages.each do |msg|
          %li= msg

  #edit_cols
    #col_1_of_3
      .field
        = f.label :factor_id
        = f.select :factor_id, options_for_select(factors_for_select(), @factor_id),{}
      .field
        = f.label :user_id
        = f.select :user_id, options_for_select(users_for_select(), @user_id),{}
      .field
        = f.label :value
        = f.number_field :value
      .field
        = f.label :description
        = f.text_area :description