%h1 Listing locations_questions

%table
  %tr
    %th Location
    %th Question
    %th Value
    %th
    %th
    %th

  - @locations_questions.each do |locations_question|
    %tr
      %td= locations_question.location_id
      %td= locations_question.question_id
      %td= locations_question.value
      %td= link_to 'Show', locations_question
      %td= link_to 'Edit', edit_locations_question_path(locations_question)
      %td= link_to 'Destroy', locations_question, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Locations question', new_locations_question_path
