%p#notice= notice

%p
  %b Location:
  = @locations_question.location_id
%p
  %b Question:
  = @locations_question.question_id
%p
  %b Value:
  = @locations_question.value

= link_to 'Edit', edit_locations_question_path(@locations_question)
\|
= link_to 'Back', locations_questions_path
