%h1 Listing locations

%table
  %tr
    %th Title
    %th City
    %th Region
    %th Country
    %th

  - @locations.each do |location|
    %tr
      %td= link_to location.title, location
      %td= location.city
      %td= location.region
      %td= location.country
      %td
        = link_to 'Show', location
        \|
        = link_to 'Edit', edit_location_path(location)
        \|
        = link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Location', new_location_path
